pistachotodosoap/client-ws/src/main/wsdl/PistachoToDo.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap/">

<xs:element name="getTaskList" type="tns:getTaskList"/>

<xs:element name="getTaskListResponse" type="tns:getTaskListResponse"/>

<xs:element name="saveTaskList" type="tns:saveTaskList"/>

<xs:element name="saveTaskListResponse" type="tns:saveTaskListResponse"/>

<xs:complexType name="saveTaskList">
<xs:sequence>
<xs:element name="arg0" type="tns:toDoList" minOccurs="0"/>
<xs:element name="arg1" type="tns:toDoTask" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="toDoList">
<xs:sequence>
<xs:element name="toDoList" type="tns:toDoTask" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="toDoTask">
<xs:sequence>
<xs:element name="context" type="xs:string" minOccurs="0"/>
<xs:element name="priority" type="xs:int"/>
<xs:element name="project" type="xs:string" minOccurs="0"/>
<xs:element name="task" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveTaskListResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTaskList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTaskListResponse">
<xs:sequence>
<xs:element name="return" type="tns:toDoList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>